
/*----------------------------- user code --------------------------------*/
html, body {
/*  background: url("https://unsplash.imgix.net/photo-1423439793616-f2aa4356b37e?fit=crop&fm=jpg&h=600&q=75&w=1050"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  width: 100%;
  margin: 0;
  padding: 0;
}
.container {
	width: 100%;
	margin: 0;
	padding: 0;
}

.header {
	width: 100%;
	height: 30%;
	
}

section.module.parallax {
  height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.paralax-one {
	width: 100%;
	height: 40%;
	background: gray;
}

.header p {
	font-size: 60;
	font-family: 'Quicksand', sans-serif;
	text-transform: lowercase;
	text-align: center;
	margin-top: 100px;
}

section.module.parallax-1 {

	background-image: url("https://download.unsplash.com/photo-1434715961933-4cbf3d79230f"); 

}

.parallax-2 {

	background: url("https://unsplash.imgix.net/39/483LKAktTE2ZB1UIkNYY_3.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050");
}


