.inner {
    font-family: 'Quicksand', sans-serif;
}

.btn {
    width: 100px;
    background: none;
    border: 2px solid white;
    border-radius: 0;
    color: white;
}

.btn:hover {
    width: 100px;
    background: white;
    border: 2px solid white;
    border-radius: 0;
    color: black;
}

