* {
	margin: 0;
}

html {
	  height: 100%;
	  background-color: #fff;
	  background-image: url("https://download.unsplash.com/33/hBd6EPoQT2C8VQYv65ys_White%20Sands.jpg");
	  background-size:   cover;                      
	  background-repeat: no-repeat;
	  background-position: center center; 
	  font-family: 'Quicksand', sans-serif;
}

.maintenance  ul{
	position: absolute;
}