
<div class="customForm" style="background: rgba(10, 9, 9, 0.50); width: 50%; margin: 0 auto; padding: 3px; margin-bottom: 100px">
<form class="form-horizontal">
  <h1>Thank You For Your Interest!</h1>

  <h3>Contact Form:</h3>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPassword3" placeholder="Full Name" ng-model="fullName">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Comments</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPassword3" placeholder="Comments or Questions" ng-model="comments">
    </div>
  </div>  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" ng-click="submitForm()">Contact Me!</button>
    </div>
  </div>
</form>
</div> <!-- customForm div -->