<head>
<!--     <link href="css/bootstrap.css" rel="stylesheet"> -->
    <link href="landingpage/css/landingstyle.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Quicksand:400' rel='stylesheet' type='text/css'>

</head>
   <header id="header">
    <nav>
        <ul class="primary">
            <li><a href="#">About</a></li>
            <li><a href="#service">Service</a></li>
            <li id="contact"><a href="#contact">Contact</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </nav>
   </header>

   <div class"container">
      <div class="middle">
          <div class="contact">
            <div class="confirm"><h3>Thank you for your interest {{firstName}}, someone will contact you shortly.<h3></div>
            <h4 style="color: white">{{firstName}} {{lastName}}</h4>
            <h4 style="color: white">{{email}}</h4>
            <h4 style="color: white">{{questions}}</h4>
            <form id="form">
                <input type="text" id="firstName" placeholder="First Name" value="" ng-model="firstName"></input>
                <input type="text" id="lastName" placeholder="Last Name"ng-model="lastName"></input>
                <input type="email" id="email" placeholder="Email" ng-model="email"></input>
                <textarea type="text" id="questions" placeholder="Questions" ng-model="questions"></textarea>
                <button id="submit" value="Submit" ng-click="submitForm()">Submit</button>
            </form>
          </div>
      </div>
   </div>


   </div>
   <div class="container">
    <div id="middle">
    </div>
   <footer id="footer">
        <div class="column column-1">
            <ul>
                <li>Testimonials</li>
                <li>Coupons</li>
                <li>Terms</li>
                <li>Projects</li>
            </ul>   
            <p id="copyright">&copy; Scoville Automotive</p>
        </div>

        <div class="column column-2">
            <article>
                <h1>News</h1>
                <p>laksjdfl;kasjdfl;aksjfd;lk;lkaj</p>
        </div>
        <div class="column column-2">
            <ul>
                <li>Testimonials</li>
                <li>Something Else</li>
                <li>And some more</li>
                <li>{{test}}</li>
            </ul>
        </div>        

   </footer>
   

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript">

            $(".primary").addClass("fafa").before("<div id='dropdown'>&#9776;</div>");
            $("#dropdown").click(function(){
                $(".primary").slideToggle();
            });

            $("#contact").click(function(){ //toggle my contact form
                $(".contact").slideToggle();
            });

            $('#submit').click(function(){  //this function the form after submission. 
                if (document.getElementById("#firstName") !== "") {
                     alert("Please fill out form");
                } else {
                    $('#form').fadeOut();
                    $('.confirm').show();
                    setTimeout(function(){
                        $('#form').show();
                        $('.confirm').hide();
                        $('.contact').hide  ();
                    }, 3000);
                };
            });

            $(window).resize(function(){    // this function ensures that the navbar doesn't get hidden upon resize
                if (this.innerWidth > 768) {
                    $('.primary').show();
                }

                else {
                    $('.primary').hide();
                }
            });





    </script>












