* {
    margin: 0;
}

html {
/*  height: 100%;
  width: 100%;
  margin: 0; 
  background: url("https://download.unsplash.com/33/hBd6EPoQT2C8VQYv65ys_White%20Sands.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  height: 100%;
  background-color: #fff;
  background-image: url("https://download.unsplash.com/33/hBd6EPoQT2C8VQYv65ys_White%20Sands.jpg");
  background-size:   cover;                      
  background-repeat: no-repeat;
  background-position: center center; 
  font-family: 'Quicksand', sans-serif;
}

header #header {
    height: 200px;
    width: 710px;
}
nav {
    margin-top: 30px;
    height: 20px;
    width: 100%;
    text-align: center;
/*    background-color: gray;*/
}

.primary {
    margin-right: 60px;
    
}
nav ul li {
    width: 150px;
    border-top: 1px solid gray;
    list-style: none;  /* getting rid of bullet points */
    display: inline-block;  /* enableing it so that I can center and fix my navbar */
    margin: 0 5px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Quicksand', sans-serif;
  }
.contact {
    display: none;
    border: 1px solid gray;
    border-radius: 10px;
    background: rgba(10, 9, 9, 0.50);
    margin: 0 auto;
    margin-top: 100px;
    width: 66%;
}
.confirm {
    display: none;
    text-align: center;
}

#form{
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
}

.container {
    height: 80%;
    width: 100%;
    margin: 0;
}
#middle {
    width: 100%;
    height: 60%;
    margin: 0;
}

#footer {
    width: 100%;
    height: 30%;
    background: rgba(10, 9, 9, 0.50);
    color: white;
    position: fixed;
    bottom: 0;
    display: block;
}

.column {
    width: 300px;
    height: 100%;
    margin-top: 20px;
    float: left;
}

.column-1 li {
    list-style: none;
    width: 150px;
    border-top: 1px solid white;
}

.column article{
/*    list-style: none;
    width: 150px;
    border-top: 1px solid white;*/
}

#dropdown {
    cursor: pointer;
    float: left;
    margin-left: 10px;
}

.middle {
    width: 100%;
    height: auto;
}

@media(max-width: 768px) {
    nav {
        margin-top: 0;
        width: 100%;
    }

    nav ul li {
        display: block;
        /*margin: 0 auto;*/
        width: 77%;
        border: none;
        text-align: left; 
        padding: 2px;
        text-transform: lowercase;      
    }

    nav ul li:hover {
        background: rgba(10, 9, 9, 0.53);
    }
    .primary {
        display: none;
        border: 1px solid black;
        width: 100%;
        background: rgba(10, 9, 9, 0.50);
    }


}

@media(min-width: 768px) {
    #dropdown {
        display: none;
        margin-top: 50px;
    }
}